@page "/login"
@page "/"
@inject HttpClient Http
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthProvider
@using BlazorApp.Components.ComponentItems
@using BlazorApp.Components.ComponentItems.ParameterEnums
@using BlazorApp.Models
@using BlazorApp.Services.Auth

<PageTitle>Log in</PageTitle>

<div class="login-container">

    <h1>LOG IN</h1>

    <EditForm Model="@model" OnValidSubmit="@HandleLogin">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label>E-mail</label>
            <InputText class="input-line" @bind-Value="model.Email" />
            <ValidationMessage For="@(() => model.Email)" />
        </div>

        <div class="form-group">
            <label>Password</label>
            <InputText type="password" class="input-line" @bind-Value="model.Password" />
            <ValidationMessage For="@(() => model.Password)" />
        </div>

         <!-- REMEMBER ME -->
        <div class="form-group">
            <label>
                <input type="checkbox" @bind="rememberMe" />
                Remember me
            </label>
        </div>

        <Button Look="ButtonLook.Primary" Size="Size.Big" Type="submit">SIGN IN</Button>
    </EditForm>

    <div class="footer">
        <p>Don't have an account?</p>
        <a href="/register">REGISTER</a>
    </div>

</div>

@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@code {
    private LoginModel model = new();
    private bool rememberMe ;
    private string? error;

    private async Task HandleLogin()
    {
        try
        {
            var auth = (AuthProvider)AuthProvider;
            await auth.LoginUser(model.Email, model.Password, rememberMe);

            Nav.NavigateTo("/backlog");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}