@page "/register"
@inject HttpClient Http
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthProvider
@using BlazorApp.Components.ComponentItems
@using BlazorApp.Components.ComponentItems.ParameterEnums
@using BlazorApp.Models
@using BlazorApp.Services.Auth


<PageTitle>Home/REGISTER</PageTitle>

<div class="register-container">
    
    <h1>REGISTER</h1>

    <EditForm Model="@model" OnValidSubmit="@HandleRegister" class="form-body">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label>Full name:</label>
            <InputText class="input-line" @bind-Value="model.FullName" />
            <ValidationMessage For="@(() => model.FullName)" />
        </div>

        <div class="form-group">
            <label>E-mail:</label>
            <InputText class="input-line" @bind-Value="model.Email" />
            <ValidationMessage For="@(() => model.Email)" />
        </div>

        <div class="form-group">
            <label>Password:</label>
            <InputText type="password" class="input-line" @bind-Value="model.Password" />
            <ValidationMessage For="@(() => model.Password)" />
        </div>

        <div class="form-group">
            <label>Repeat Password:</label>
            <InputText type="password" class="input-line" @bind-Value="model.RepeatPassword" />
            <ValidationMessage For="@(() => model.RepeatPassword)" />
        </div>
        
            <Button Look="ButtonLook.Primary" Size="Size.Big" Type="submit">SIGN IN</Button>

    </EditForm>

    <div class="footer">
        <p>Already have an account?</p>
         <NavLink href="/login">LOGIN</NavLink>

        @* <a href="/login">LOG IN</a> *@
    </div>

</div>

@* only for lazy testing *@

<button @onclick="FakeLogin">Fake Login (Dev Only)</button>
<div>**** manually check the locked pages, there's no confirmation here if they work</div>
<button @onclick="FakeLogout">Fake Logout (Dev Only)</button>
@*  *@


@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}
@code {
    private RegisterModel model = new();
    private string? error;

    private async Task HandleRegister()
    {
        Console.WriteLine("HandleRegister() triggered");
        try
        {
            var auth = (AuthProvider)AuthProvider;

            await auth.CreateUser(
                model.FullName,
                model.Email,
                model.Password
            );

            Nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
        
    }
    private void FakeLogin()
    {
        var auth = (AuthProvider)AuthProvider;
        auth.ForceLoginForTesting();
    }
    
    private void FakeLogout()
    {
        var auth = (AuthProvider)AuthProvider;
        auth.ForceLogoutForTesting();
    }
    
}