@using ApiContracts.Quest
@using ApiContracts.User
@using BlazorApp.Components.ComponentItems.ParameterEnums
@using BlazorApp.Models
@using BlazorApp.Services.Auth
@using BlazorApp.Services.Quest
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.DropDowns

@inject IQuestService QuestService
@inject AuthenticationStateProvider AuthStateProvider

<SfDialog Width="50%" @ref="_modalRef" IsModal="true" Id="CreateQuestModal" Header="Create New Quest"
          ShowCloseIcon="true" @bind-Visible="@IsVisible">
    <DialogEvents OnOverlayModalClick="@OnOverlayClick"></DialogEvents>
    <DialogTemplates>
        <Content>
            <SfDataForm Model="@FormModel" OnSubmit="@CreateQuest">
                <FormValidator>
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                </FormValidator>

                <FormItems>
                    <FormAutoGenerateItems/>
                    <FormItem Field="@nameof(FormModel.AssigneeId)">
                        <Template>
                            <label class="e-form-label">Assignee</label>

                            <SfDropDownList TItem="UserDto"
                                            TValue="long?"
                                            DataSource="@ListOfUsers"
                                            @bind-Value="FormModel.AssigneeId"
                                            Placeholder="Unassigned">
                                <DropDownListFieldSettings Text="DisplayName" Value="Id"/>
                            </SfDropDownList>
                        </Template>
                    </FormItem>
                    <FormItem Field="@nameof(FormModel.StartDate)"
                              EditorType="FormEditorType.DateTimePicker"
                              IsEnabled="IsStartDateEnabled"></FormItem>
                    <FormItem Field="@nameof(FormModel.FinishedDate)"
                              EditorType="FormEditorType.DateTimePicker"
                              IsEnabled="IsFinishedDateEnabled"></FormItem>
                </FormItems>

                @if (!string.IsNullOrWhiteSpace(_errorMessage))
                {
                    <p style="color:red">@_errorMessage</p>
                }

                <FormButtons>
                    <Button Size="Size.Small" Look="ButtonLook.Danger" OnClick="@CloseModal">Cancel</Button>
                    <Button Size="Size.Small" Type="submit">Create Quest</Button>
                </FormButtons>
            </SfDataForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@code {

    [Parameter] public EventCallback OnQuestCreated { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public List<UserDto> ListOfUsers { get; set; } = new();

    private SfDialog? _modalRef;
    private CreateQuestModel FormModel { get; set; } = new();
    private bool IsVisible { get; set; } = false;
    private string _errorMessage = "";
    
    private bool IsStartDateEnabled =>
        FormModel.Status != QuestStatus.Backlog &&
        FormModel.Status != QuestStatus.ToDo;

    private bool IsFinishedDateEnabled =>
        FormModel.Status == QuestStatus.Finished;

    
    public Task ShowModal()
    {
        _errorMessage = "";
        FormModel = new CreateQuestModel();
        IsVisible = true;
        return Task.CompletedTask;
    }

    private async Task CloseModal()
    {
        IsVisible = false;
        await OnCancel.InvokeAsync();
    }
    
    private void OnOverlayClick(OverlayModalClickEventArgs arg)
    {
        this.IsVisible = false;
    }

    private async Task CreateQuest()
    {
        _errorMessage = "";
        
        var authProvider = (AuthProvider)AuthStateProvider;
        var userId = await authProvider.GetUserIdAsync();

        try
        {
            if (userId != null)
            {
                await QuestService.CreateQuestAsync(FormModel.Title, FormModel.Description, 
                    FormModel.Status, userId.Value, FormModel.AssigneeId, 
                    FormModel.StartDate, FormModel.Deadline, FormModel.FinishedDate);
            }
            else
            {
                _errorMessage = "Error: User is not authenticated.";
                return;
            }
        }
        catch (Exception e)
        {
            _errorMessage = $"Error: {e}";
            return;
        }

        IsVisible = false;
        FormModel = new();
        
        await OnQuestCreated.InvokeAsync();
    }
    
}