@using ApiContracts.Quest
@using ApiContracts.User
@using BlazorApp.Components.ComponentItems.ParameterEnums
@using BlazorApp.Models
@using BlazorApp.Services.Auth
@using BlazorApp.Services.Quest
@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups

@inject IQuestService QuestService
@inject AuthenticationStateProvider AuthStateProvider


<SfDialog Width="50%" @ref="_modalRef" IsModal="true" Id="EditQuestModal" Header="Edit Quest"
          ShowCloseIcon="true" @bind-Visible="@IsVisible">
    <DialogEvents OnOverlayModalClick="@OnOverlayClick"></DialogEvents>
    <DialogTemplates>
        <Content>
            <SfDataForm Model="@FormModel" OnSubmit="@EditQuest">
                <FormValidator>
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                </FormValidator>

                <FormItems>
                    <FormAutoGenerateItems/>
                    <FormItem Field="@nameof(FormModel.Assignee)">
                        <Template>
                            <label class="e-form-label">Assignee</label>

                            <SfDropDownList TItem="UserDto"
                                            TValue="UserDto?"
                                            DataSource="@ListOfUsers"
                                            @bind-Value="FormModel.Assignee"
                                            Placeholder="Unassigned">
                                <DropDownListFieldSettings Text="DisplayName" Value="UserDto"/>
                            </SfDropDownList>
                        </Template>
                    </FormItem>
                    <FormItem Field="@nameof(FormModel.StartDate)"
                              EditorType="FormEditorType.DateTimePicker"
                              IsEnabled="IsStartDateEnabled"></FormItem>
                    <FormItem Field="@nameof(FormModel.FinishedDate)"
                              EditorType="FormEditorType.DateTimePicker"
                              IsEnabled="IsFinishedDateEnabled"></FormItem>
                </FormItems>

                @if (!string.IsNullOrWhiteSpace(_errorMessage))
                {
                    <p style="color:red">@_errorMessage</p>
                }

                <FormButtons>
                    <Button Size="Size.Small" Look="ButtonLook.Secondary" OnClick="@CloseModal">Cancel</Button>
                    <Button Size="Size.Small" Type="submit">Create Quest</Button>
                </FormButtons>
            </SfDataForm>
        </Content>
    </DialogTemplates>
</SfDialog>
@code {
    
    [Parameter] public EventCallback OnQuestEdited { get; set; }
    [Parameter] public List<UserDto> ListOfUsers { get; set; } = new();
    
    private SfDialog? _modalRef;
    private QuestModel FormModel { get; set; } = new();
    private QuestDto? QuestDto { get; set; }
    private bool IsVisible { get; set; } = false;
    private string _errorMessage = "";
    
    private bool IsStartDateEnabled =>
        (FormModel.Status != QuestStatus.Backlog &&
         FormModel.Status != QuestStatus.ToDo) ||
        FormModel.StartDate != null;

    private bool IsFinishedDateEnabled =>
        FormModel.Status == QuestStatus.Finished ||
        FormModel.FinishedDate != null;
    
    public Task ShowModal(QuestDto questToEdit)
    {
        _errorMessage = "";
        QuestDto = questToEdit;

        if (QuestDto != null)
        {
            FormModel = new QuestModel
            {
                Id = QuestDto.Id,
                Title = QuestDto.Title,
                Description = QuestDto.Description,
                Status = QuestDto.Status,
                CreatedDate = QuestDto.CreatedDate,
                CreatedById = QuestDto.CreatedBy,
                Assignee = QuestDto.Assignee,
                Deadline = QuestDto.Deadline,
                StartDate = QuestDto.StartDate,
                FinishedDate = QuestDto.FinishedDate
            };
        }
        else
        {
            FormModel = new QuestModel();
            _errorMessage = "Failed to load quest data";
        }
        
        IsVisible = true;
        return Task.CompletedTask;
    }
    
    private async Task CloseModal()
    {
        QuestDto = null;
        IsVisible = false;
    }

    private void OnOverlayClick(OverlayModalClickEventArgs arg)
    {
        this.IsVisible = false;
    }

    private async Task EditQuest()
    {
        _errorMessage = "";
        
        var authProvider = (AuthProvider)AuthStateProvider;
        var userId = await authProvider.GetUserIdAsync();

        if (userId == null)
        {
            _errorMessage = "Error: User is not authenticated.";
            return;
        }

        if (QuestDto == null)
        {
            _errorMessage = "Quest data are empty, unable to create request";
            return;
        }
        
        QuestDto request = new QuestDto
        {
            Id = QuestDto.Id,
            Title = FormModel.Title,
            Description = FormModel.Description,
            Status = FormModel.Status,
            CreatedDate = FormModel.CreatedDate,
            CreatedBy = FormModel.CreatedById,
            Assignee = FormModel.Assignee,
            Deadline = FormModel.Deadline,
            StartDate = FormModel.StartDate,
            FinishedDate = FormModel.FinishedDate
        };
        
        try
        {
            await QuestService.UpdateQuestAsync(QuestDto.Id, request);
        }
        catch (Exception e)
        {
            _errorMessage = $"Error: {e}";
        }
        
        IsVisible = false;
        FormModel = new();
        
        await OnQuestEdited.InvokeAsync();
    }
}