@using ApiContracts.Quest

<div class="rounded-1 bg-white p-3 w-100">
    <div>
        <h5>@Dto.Title</h5>
    </div>
    
    <div>
        <div>
            <p>Deadline: @Dto.Deadline</p>
            <div>
                @if (Dto.Status == QuestStatus.Finished)
                {
                    <p>Finished Date: @(Dto.FinishedDate != null ? "-" : Dto.FinishedDate)</p>
                }
                else
                {
                    <p>Start Date: @(Dto.StartDate != null ? "-" : Dto.StartDate)</p>
                }
                
                <p>Assignee: @(Dto.StartDate != null ? "Unassigned" : Dto.StartDate)</p>
            </div>
            
            <p>Id: @Dto.Id</p>
        </div>
    </div>
    
</div>

@code {
    [Parameter] 
    public required QuestDto Dto { get; set; }
}