@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorApp.Components.Pages

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" >
        
        <Found Context="routeData">
            <RouteView RouteData="@routeData"
                       DefaultLayout="@typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>

        <NotFound>
            <p>Page not found.</p>
        </NotFound>

    </Router>
</CascadingAuthenticationState>

@* TODO: set default layout -- DefaultLayout = ....*@
@* <AuthorizeRouteView RouteData="@routeData"> *@
@*     <NotAuthorized> *@
@*         $1$ TODO: set some "not authorised" error state #1# *@
@*     </NotAuthorized> *@
@* </AuthorizeRouteView> *@